
@font-face {
    font-family: 'dark_poestry';
    src: url('fonts/dark_poestry.woff2') format('woff2'),
         url('fonts/dark_poestry.woff') format('woff');
}


html {
    height: 100%;
	letter-spacing:2px;
}


body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: rgb(255,163,26);
	background: linear-gradient(90deg, rgba(255,163,26,1) 0%, rgba(255,209,26,1) 100%);
}

.up-text {
	text-align:center;
	margin-top:40px; 
	font-size:60px;
	font-weight:600;
	text-decoration:bold;
	position: relative;
	font-family:dark_poestry;
	color:#333;
}


.centro{
	/*CENTRA IL CONTENUTO*/
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.bottom-div {
	text-align:center;
	position:absolute;
	left:48%;
	top:80%;
	transform: translate(-50%,0%);
}


#paragraph {
	font-size:40px;
	font-family:dark_poestry;
	letter-spacing:2px;
	font-weight:600;
	color:#333;
	
}

.rock {
	position:relative;
	background-image: url(img/rock.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height:320px;
	width:250px;
	top:0px;
	left:0px;
	outline:none;
	margin-right:50px;
	padding-right: 83px;
	padding-bottom:102px;
	border: 1px solid #ffffff;
	border-radius:15px;
	transition: box-shadow 1s, top 1s, left 1s;
	transition-timing-function: ease;
}

.rock:hover {	
	top:-5px;
	left:-5px;
	box-shadow: 5px 5px 0px 0px #333;
}

.rock:focus {
	outline:none;
}

.paper {
	position:relative;
	background-image: url(img/paper.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height:320px;
	width:250px;
	top:0px;
	left:0px;
	outline:none;
	margin-right:50px;
	padding-right: 83px;
	padding-bottom:102px;
	border: 1px solid #ffffff;
	border-radius:15px;
	transition: box-shadow 1s, top 1s, left 1s;
	transition-timing-function: ease;
}

.paper:hover {	
	top:-5px;
	left:-5px;
	box-shadow: 5px 5px 0px 0px #333;
}

.paper:focus {
	outline:none;
}


.scissors {
	position:relative;
	background-image: url(img/scissors.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height:320px;
	width:250px;
	top:0px;
	left:0px;
	outline:none;
	margin-right:50px;
	padding-right: 83px;
	padding-bottom:102px;
	border: 1px solid #ffffff;
	border-radius:15px;
	transition: box-shadow 1s, top 1s, left 1s;
	transition-timing-function: ease;
}

.scissors:hover {	
	top:-5px;
	left:-5px;
	box-shadow: 5px 5px 0px 0px #333;
}

.scissors:focus {
	outline:none;
}

.punteggio {
	margin-left:2%;
	margin-top:15%;
	font-size: 17px;
	color:#333;
	font-weight:600;
	font-family:dark_poestry;
	letter-spacing:2px;
}

.sceltaAI {
	float:right;
	margin-right:2%;
	margin-top:-6%;
	font-size: 20px;
	color:#333;
	font-weight:600;
	font-family:dark_poestry;
	letter-spacing:2px;
}

.mostrascelta {
	position:relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height:100px;
	width:90px;
	top:0px;
	left:0px;
	outline:none;
	border: 1px solid #ffffff;
	border-radius:15px;
	margin-left:10px;
}

.mostrascelta:focus {
	outline:none;
}

.mostrascelta img {
  position:absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
