@font-face {
    font-family: 'dark_poestry';
    src: url('fonts/dark_poestry.woff2') format('woff2'),
         url('fonts/dark_poestry.woff') format('woff');
}


html {
    height: 100%;
	letter-spacing:2px;
}


body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: rgb(255,163,26);
	background: linear-gradient(90deg, rgba(255,163,26,1) 0%, rgba(255,209,26,1) 100%);
}

.maintext {
	margin-top:-120%; 
	font-size:60px;
	font-weight:600;
	margin-bottom: 40px;
	position: relative;
	font-family:dark_poestry;
	letter-spacing:2px;
	color:#333;
}

.centro {
	/*CENTRA IL CONTENUTO (ho goduto quando ho trovato questo metodo)*/
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.centro span {
	display:block;
}

.centro1 {
	/*CENTRA IL CONTENUTO (ho goduto quando ho trovato questo metodo)*/
	text-align:center;
	position:absolute;
	top:40%;
	left:57%;
	transform: translate(-50%,-0%);
	font-family:dark_poestry;
	font-weight:bold;

}


/*bottone indietro*/ 
.back {
	box-shadow: 3px 4px 0px 0px #8c8c8c;
	background-color:#bfbfbf;
	border-radius:15px;
	border:2px solid #8c8c8c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:verdana;
	font-size:10px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #8c8c8c;
	margin-right:20px;
	margin-top:20px;
	
}
.back:hover {
	background-color:#a6a6a6;
	color: #f2f2f2;
}
.back:active {
	position:relative;
	top:2px;
	left:2px;
	box-shadow: 3px 4px 0px -7px #8c8c8c;
}

td{
  padding: 10px;   
  background-color:#333;
  border: 3px solid #262626; 
}
  
table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 13px #333;
  background-color:#333;
  color:white;
}

.info a{
	color:#999966; text-shadow:1px 1px 0px #6b6b47;
}